@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #000000;
}

[data-theme='dark'] {
  --background: #1a1a1a;
  --foreground: #ffffff;
}

.theme-toggle {
  @apply rounded-full p-2 hover:bg-gray-200 dark:hover:bg-gray-700 transition-colors;
}

* {
  @apply transition-colors duration-200;
}

body {
  @apply bg-[var(--background)] text-[var(--foreground)];
}
