@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100&display=swap');
.styles  {
  font-family: "Doto", serif;
  font-optical-sizing: auto;
  font-weight: 800 ;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
}
